@font-face {
  font-family: "Poppins";
  src: url("/fonts/Poppins/Poppins-Regular.ttf");
  font-style: normal;
  font-weight: 400;
  font-display: optional;
}
@font-face {
  font-family: "Poppins";
  src: url("/fonts/Poppins/Poppins-Medium.ttf");
  font-style: medium;
  font-weight: 500;
  font-display: optional;
}

@font-face {
  font-family: "Poppins";
  src: url("/fonts/Poppins/Poppins-Medium.ttf");
  font-style: bold;
  font-weight: 700;
  font-display: optional;
}

body {
  font-family: "Poppins", sans-serif;
}

img {
  max-width: 100%;
  height: auto;
}
